body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f9ff; 
    font-size: 20px;
    line-height: 1.6;
}

header {
    background-color: #0f3460;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color:#1b4f72;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: #eaf6ff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover {
    color:#ffffff;
    border-bottom: 2px solid #ffffff;
}

main {
    display: flex;
    gap: 25px;
    padding: 30px;
}

article {
    flex: 1;
    background-color: #d6eaff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(26, 50, 82, 0.8);
}

aside img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #0f3460;
    margin-bottom: 15px;
}

footer {
    background-color:  #0f3460;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
    transform: 0.3s;
}

aside {
    color: #0f3460;
}

aside {
    overflow: hidden;
}

aside img {
    width: 195px;
    height: 195px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0f3460;
    image-rendering: auto;

}

